<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    
    <!--    1，select单选-->
  <!--   <select name="abc" v-model="hobbies">
        <option value="篮球">篮球  </option>
        <option value="乒乓球">乒乓球  </option>
        <option value="羽毛球">羽毛球  </option>
        <option value="足球">足球  </option>
        <option  value="排球">排球  </option>
    </select>
<div>你选择的是{{ hobbies }}</div>
    2.select多选
    <select name="abc" v-model="hob" multiple>
        <option value="篮球">篮球  </option>
        <option value="乒乓球">乒乓球  </option>
        <option value="羽毛球">羽毛球  </option>
        <option value="足球">足球  </option>
        <option  value="排球">排球  </option>
    </select>
    <div>你选择的是{{ hob }}</div> 
值绑定，动态获取的-->
    <label v-for="item in oriHobbies" :for="item">
        <input type="checkbox" :value="item" id="item" v-model="hob">{{ item }}
    </label>
<div>你选择的是{{ hob }}</div>
</div>
<script src="../vue.js"></script>
<script>
    const app = new Vue({
        el:'#app',
        data: {
            message:'ninhia',
            isAgree:false,
            hobbies: '篮球',
            hob:[],
            oriHobbies:['篮球',"乒乓球","排球","足球"]
        }
    })
</script>
</body>
</html>
